.container {
  width: 1200px;
}
body {
  background-color: black;
}
.board-style {
  float: left;
  width: 600px;
}
.board-info {
  width: 280px;
  height: 600px;
  background-color: #ffcc66;
  float: left;
}
.board-frame {
  padding: 10px;
  margin: auto;
  text-align: center;
}
.card-style {
  background-color: #ff9900;
}
.card-logo {
  width: 100%;
}
.plays-style {
  background-color: #3399ff;
}
.btn-style {
  margin: 10px;
}
.roll-btn {
  padding: 10px;
  height: 60px;
}
