.container {
  width: 960px;
}

.start-btn {
  margin-top: 10px;
}
.start-text{
  font-size: 18px;
  color: pink;
}
.waiter {
  margin: auto;
  padding-top: 1px;
  padding-bottom: 1px;
  width: 90%;
}

body {
  background-color: white;
}
.board-frame {
  padding-top: 35px;
  padding-left: 10px;
  padding-right: 10px;
}

.board-style {
  /*background-color: grey;*/
  width: 598px;
  height: 598px;
  text-align: center;
}
.board-info {
  width: 280px;
  height: 660px;
  background-color: #ffcc66;
}
.card-logo {
  width: 100%;
}
.plays-style {
  background-color: #3399ff;
}
.btn-style {
  margin: 10px;
}
.roll-btn {
  padding: 10px;
  height: 60px;
}
.card-top {
  margin-top: 10px;
}

.street-stick {
  width: 50px;
  height: 80px;
  float: left;
}
.street-shelf {
  width: 74px;
  height: 50px;
  float: left;
}
.street-row {
  width: 450px;
  height: 80px;
  float: left;
}
.street-block {
  width: 74px;
  height: 80px;
  float: left;
}
.street-hor {
  width: 74px;
  height: 450px;
  float: left;
}
.street-center {
  width: 450px;
  height: 450px;
  float: left;
}
.street-normal {
  background-color: rgb(204, 255, 204);
}

.player {
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
  height: 120px;
  background-color: white;
}
.player-plate {
  margin: auto;
  font-size: 8px;
  text-align: center;
  width: 55%;
}
.plays-action {
  float: left;
}
.btn-img {
  width: 42px;
  height: 42px;
}
.btn-roll {
  width: 60px;
  height: 42px;
}

.player-icon {
  width: 50px;
  height: 50px;
  margin: 0;
  position: fixed;
}
