.container {
  width: 960px;
}
body {
  background-color: white;
}
.board-frame {
  padding: 10px;
}

.board-style {
  background-color: white;
  width: 450px;
  height: 450px;
  text-align: center;
}
.board-info {
  width: 280px;
  height: 600px;
  background-color: #ffcc66;
}
.card-style {
  background-color: #ff9900;
}
.card-logo {
  width: 100%;
}
.plays-style {
  background-color: #3399ff;
}
.btn-style {
  margin: 10px;
}
.roll-btn {
  padding: 10px;
  height: 60px;
}

.street-style {
  width: 50px;
  height: 80px;
}
.street-block {
  width: 77px;
  height: 80px;
  background-color: grey;
}
